/* Font */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
	margin: 0;
	padding: 0rem;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	list-style: none;
	font-family: "Poppins", sans-serif;
}

/* Header */

header {
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2.5rem;
}

/* Filter */

.filter {
	margin: 2rem 2rem 2rem 4rem;
}

.filter a {
	color: #030303;
	font-weight: 600;
	font-size: 1rem;
	margin-right: 2rem;
}

/* Filter Hover Underline Animation */

.hover-underline-animation {
	display: inline-block;
	position: relative;
	color: #030303;
	text-decoration: none;
}

.hover-underline-animation::after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #030303;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

/* Image */

/* Image Hover Opacity */

.card img {
	opacity: 1;
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

.card img:hover {
	opacity: 0.5;
}

/* Article Container */

.articles {
	font-family: "Montserrat", sans-serif;
	margin: 2rem;
	display: flex;
	justify-content: space-around;
	margin-top: 2rem;
	flex-wrap: wrap;
}

.articles a {
	color: #030303;
}

/* Individual Article */

.article {
	max-width: 22rem;
}

.articles p {
	color: #4f4f4f;
}

.articles p,
h3 {
	margin-bottom: 0.3rem;
}

/* Small phones (600px and below) */
@media only screen and (max-width: 600px) {
	header {
		text-align: center;
		margin-top: 2rem;
		margin-bottom: 2.5rem;
	}

	img {
		width: 19rem;
	}

	.filter {
		margin: 2rem 2rem 2rem 4rem;

		text-align: center;
	}

	.filter a {
		color: #030303;
		font-weight: 600;
		font-size: 1rem;
		margin-right: 1rem;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	header {
		text-align: center;
		margin-top: 2rem;
		margin-bottom: 2.5rem;
	}

	.article img {
		width: 19rem;
	}

	.filter {
		margin: 2rem 2rem 2rem 4rem;
	}

	.filter a {
		color: #030303;
		font-weight: 600;
		font-size: 1rem;
		max-width: 100%;
	}

	.article {
		max-width: 19rem;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	header {
		text-align: center;
		margin-top: 2rem;
		margin-bottom: 2.5rem;
	}

	.article img {
		width: 22rem;
	}

	.filter {
		margin: 2rem 2rem 2rem 4rem;
	}

	.filter a {
		color: #030303;
		font-weight: 600;
		font-size: 1rem;
		margin-right: 1rem;
		max-width: 100%;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
