* {
	list-style-type: none;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
}

.hero-section a {
	background-color: var(--bs-body-color);
	color: var(--bs-body-bg);
}

.hero-img {
	max-height: 100%;
	display: flex;
}

.heroImgContainer img {
	max-width: 100%;
	height: auto;
}

.listHeroImg {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: auto;
	column-gap: 5px;
	align-items: center;
}

.listHeroImg img {
	max-width: 100%;
	height: auto;
}

.right-side {
	padding: 0 40px;
	background-color: var(--bs-body-color);
	color: var(--bs-body-bg);
}

.right-side h1 {
	font-size: 4rem;
}

.col {
	height: 10rem;
}

.galeri-link {
	margin-top: 5rem !important;
	max-height: 100%;
	background-color: #121212;
}

.offer-section {
	margin-top: 10rem !important;
}

.text-black-50 {
	letter-spacing: 0.15rem;
}

.backgroundSuaraNusantara {
	background-color: var(--bs-body-bg);
	height: 36.7rem;
}

.backgroundText {
	max-width: 75%;
}

.galeri-link {
	background-color: #121212;
}

.card-body a {
	color: var(--bs-body-color);
}

.latarBelakang {
	background-color: #121212;
	max-height: 40rem;
}

/* Responsive Breakpoints */
@media (max-width: 768px) {
	.offer-section {
		font-size: 80% !important;
		margin: 2rem;
	}

	.right-side {
		flex-direction: column;
		padding: 20px 20px;
		text-align: center;
	}

	.music-icon img {
		width: 50px;
	}

	.alatMusik3 {
		display: none;
	}

	.alatMusik5 {
		flex-direction: column;
	}
}

@media (max-width: 576px) {
	.music-icon img {
		width: 30px;
	}

	.offer-section {
		font-size: 68% !important;
		margin: 1rem;
	}

	.right-side {
		flex-direction: column;
		text-align: center;
	}

	.right-side h1 {
		font-size: 3rem;
	}
}
